[submodule "released/hex-matrix"]
	path = released/hex-matrix
	url = git@github.com:kim-em/hex-matrix.git
[submodule "released/hex-matrix-mathlib"]
	path = released/hex-matrix-mathlib
	url = git@github.com:kim-em/hex-matrix-mathlib.git
[submodule "released/hex-gram-schmidt"]
	path = released/hex-gram-schmidt
	url = git@github.com:kim-em/hex-gram-schmidt.git
[submodule "released/hex-gram-schmidt-mathlib"]
	path = released/hex-gram-schmidt-mathlib
	url = git@github.com:kim-em/hex-gram-schmidt-mathlib.git
[submodule "released/hex-lll"]
	path = released/hex-lll
	url = git@github.com:kim-em/hex-lll.git
[submodule "released/hex-lll-mathlib"]
	path = released/hex-lll-mathlib
	url = git@github.com:kim-em/hex-lll-mathlib.git
